# GCP Configuration
EE_PROJECT_NAME=your-gcp-project
PROJECT_NAME=your-gcp-project
BUCKET_NAME=your-gcs-bucket
DATASET_ID=your-bq-dataset
TABLE_ID=your-bq-table

# EE Configuration
REGION_BBOX = [-74.2591, 40.4774, -73.7004, 40.9176]

# Model Configuration
CKPT_PATH=/Users/SkyScript/data/checkpoints/SkyCLIP_ViT_L14_top30pct_filtered_by_CLIP_laion_RS/epoch_20.pt

# Local Data (embed.ipynb only)
ROOT_DATA_DIR=/Users/SkyScript/data
DATA_CSV_PATH=/Users/SkyScript/data/dataset_csv/SkyScript_test_30K_filtered_by_CLIP_laion_RS.csv
