data/
.ipynb_checkpoints/

*.pyc
.DS_Store

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Large artifacts
embeddings/skyscript_img_embeddings.npz
embeddings/df_embeddings_naip.csv
